# CMake Build artifacts
build*/

# Python artifacts
__pycache__/
*.npy

# SPICE artifacts
*.net
*.op.raw
*.raw
*.masterlog
*.log*

# TEX artifacts
*.synctex*
*.out
*.blg
*.bbl
*.aux
*.nav
*.run.xml
*.snm
*.toc

# VSCode config
.vscode/
