name: CI

on:
  push:
    branches:
    - master
    - develop
    paths-ignore:
    - 'bin/**'
    - 'Paper/**'
    - 'Slider/**'
    - 'Teensy*/**'
    - '*.sh'
    - '*.md'
  pull_request:
    branches:
    - master
    - develop
    paths-ignore:
    - 'bin/**'
    - 'Paper/**'
    - 'Slider/**'
    - 'Teensy*/**'
    - '*.sh'
    - '*.md'

  workflow_dispatch:

jobs:
  build_and_test:
    if: contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    name: Build plugin for iOS
    runs-on: macOS-latest
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
    
    steps:
    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true

    # - name: Setup debug session
    #   uses: mxschmitt/action-tmate@v3

    - name: Configure
      shell: bash
      run: cmake -Bbuild-ios -GXcode -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_DEPLOYMENT_TARGET=9.3

    - name: Build
      shell: bash
      run: cmake --build build-ios --target ChowCentaur_AUv3 --config Release --parallel -- -skd iphonesimulator
