name: CI-iOS

on:
  push:
    branches:
    - master
    - develop
    paths-ignore:
    - 'bin/**'
    - 'Paper/**'
    - 'Slider/**'
    - 'Teensy*/**'
    - '*.sh'
    - '*.md'
  pull_request:
    branches:
    - master
    - develop
    paths-ignore:
    - 'bin/**'
    - 'Paper/**'
    - 'Slider/**'
    - 'Teensy*/**'
    - '*.sh'
    - '*.md'

  workflow_dispatch:

jobs:
  build_and_test:
    if: contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    name: Build plugin for iOS
    runs-on: macOS-latest
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
    
    steps:
    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true

    # - name: Setup debug session
    #   uses: mxschmitt/action-tmate@v3

    - uses: Apple-Actions/import-codesign-certs@v1
      with:
        p12-file-base64: ${{ secrets.MAC_CERTIFICATES_BASE64 }}
        p12-password: ${{ secrets.MAC_CERTIFICATES_PASS }}

    - uses: Apple-Actions/download-provisioning-profiles@v1
      with:
        bundle-id: com.chowdsp.ChowCentaur.ChowCentaur_AUv3
        issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
        api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
        api-private-key: ${{ secrets.APPSTORE_PRIVATE_KEY }}

    - name: Configure
      shell: bash
      run: cmake -Bbuild-ios -GXcode -DCMAKE_SYSTEM_NAME=iOS \
           -DCMAKE_OSX_DEPLOYMENT_TARGET=11.4 \
           -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGN_STYLE="Manual" \
           -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY="Apple Distribution" \
           -DCMAKE_XCODE_ATTRIBUTE_DEVELOPMENT_TEAM=${{ secrets.APPLE_TEAM_ID }} \
           -DCMAKE_XCODE_ATTRIBUTE_PROVISIONING_PROFILE_SPECIFIER="ChowCentaurProfile"

    - name: Build
      shell: bash
      run: cmake --build build-ios --target ChowCentaur_AUv3 --config Release --parallel 4 -- -sdk iphoneos14.0 -allowProvisioningUpdates

    - uses: Apple-Actions/upload-testflight-build@master
      with:
        app-path: build-ios/ChowCentaur/ChowCentaur_artefacts/Release/AUv3/ChowCentaur.appex
        issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
        api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
        api-private-key: ${{ secrets.APPSTORE_PRIVATE_KEY }}
